<h1>User</h1>
<p>
  <strong> Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong> User Id:</strong>
  <%= @user.id %>
</p>

  <%= link_to 'Create Event', new_event_path, class: 'btn' %><br>
  <%= link_to 'Invite a User to an Event', new_invitation_path, class: 'btn' %>


   <ul>
      <strong>Created Events:</strong>

      <% @myevents.each do |e| %>
        <li>
          <p><%= link_to e.title, event_path(e) %></p>
          <p><%= e.event_date %></p>
        </li>
        <% end %>
    </ul>

   <ul>
      <strong>Upcoming Events:</strong>
      <% @upcoming_event.each do |e| %>
        <li>
          <p><%= link_to e.title, event_path(e) %></p>
          <p><%= e.event_date %></p>
        </li>
        <% end %>
    </ul>

    <ul>
      <strong>Previous Events:</strong>
      <% @prev_event.each do |e| %>
        <li>
          <p><%= link_to e.title, event_path(e) %></p>
          <p><%= e.event_date %></p>
        </li>
        <% end %>
    </ul>

    <ul>
      <strong>Pending Invitations:</strong>
      <% @unconfirmed_invitations.each do |e| %>
        <li>
          <p><%= link_to e.id, event_path(e) %></p>
          <p><%#= e.event_date %></p>
          <p><%= link_to "Attend", invitation_path(e) %></p>
        </li>
        <% end %>
    </ul>

<%= form_for :session, url:logout_path do |f|%>
  <%= f.submit "Logout", method: :delete %>
<% end %>