<h2>User</h2>
  <p>
    <strong> Name:</strong>
    <%= @user.name %>
  </p>
  <%= link_to 'Create Event', new_event_path, class: 'btn' %>
   <ul>
      <strong>Upcoming Events:</strong>
      <% @upcoming_event.each do |e| %>
        <li>
          <p><%= link_to e.title, event_path(e) %></p>
          <p><%= e.event_date %></p>
        </li>
        <% end %>
    </ul>

<p><<<<<<<<<<<<<<<>>>>>>>>>>>>>>></p>

    <ul>
      <strong>Previous Events:</strong>
      <% @prev_event.each do |e| %>
        <li>
          <p><%= link_to e.title, event_path(e) %></p>
          <p><%= e.event_date %></p>
        </li>
        <% end %>
    </ul>

<p><<<<<<<<<<<<<<<>>>>>>>>>>>>>>></p>

<%= link_to 'Invite A user to an Event', new_invitation_path, class: 'btn' %>

<p><<<<<<<<<<<<<<<>>>>>>>>>>>>>>></p>

 <%= form_for :session, url:logout_path do |f|%>

  <%= f.submit "Logout", method: :delete %>
<% end %>