<div class="event-header">
  <h1>All events</h1>
  <%= link_to 'Create Event', new_event_path, class: 'btn' %>
</div>

<ul>
  <strong>Upcoming Events:</strong>
  <% upcoming.each do |e| %>
    <li>
      <p> <%=link_to e.title, event_path(e) %></p>
      <small><%= e.event_date %></small>
    </li>
  <% end %>
</ul>

<ul>
  <strong>Past Events:</strong>
  <% past.each do |e| %>
    <li>
      <p> <%=link_to e.title, event_path(e) %></p>
      <small><%= e.event_date %></small>
    </li>
  <% end %>
</ul>