  <h1>
    <%= link_to 'Create Event', new_event_path %>
  </h1>

 <% if @event %>
  <h1>
    <%= @event.title  %>
  </h1>
  <p>
    Event date: <%= @event.event_date  %>
  </p>
  <small>
    Created By: <%= @event.creator.name %>
  </small>
<% else %>
  <p>No Events Created Yet</p>
<% end %>

<% if @session_id == @event.creator_id %>
  <p>
    <%= link_to 'Invite Users', new_invitation_path, class: 'btn' %>
  </p>
<% end %>

<h2>
  Attendants:
</h2>

<ul>
  <% @attendants.each do |name| %>
    <li>
      <%= name %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to '< All events', events_path %>
</p>

