
<h1>
  <%= @event.title  %>
</h1>
<p>
  Event date: <%= @event.event_date  %>
</p>
<small>
  Created By: <%= @event.creator.name %>
</small>

<h2>
  Attendants:
</h2>

<ul>
  <% @attendants.each do |name| %>
    <li>
      <%= name %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to '< All events', events_path %>
</p>

