
<h1>
  <%= @event.title  %>
</h1>
<p>
  Event date: <%= @event.event_date  %>
</p>
<small>
  Created By: <%= @event.user.name %>
</small>

<h2>
  Attending:
</h2>

<ul>
  <% @event.invitees.each do |user| %>
    <li>
      <%= user.name %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to '< All events', events_path %>
</p>

