<%= flash[:message] %>

<h1>Invite A User To An Event</h1>
<p><<<<<<<<<<<<<<<>>>>>>>>>>>>>>></p>

 <%= form_for :invitation, url:invitations_path do |f|%>


  <%= f.select :invitee_id, User.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>

  <%= f.select :attended_event_id, Event.all.collect { |p| [ p.title, p.id ] }, include_blank: true %>

  <%= f.submit "Invite User" %>
<% end %>
